*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: blueviolet;
    padding-top: 60px; 
}

h1,h3, p{
    color: white;
}

#header{
    height: 80px;
    width: 100%;
    background-color: black;
}

ul {
    list-style-type: none;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 60px;
    padding: 1%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar li {
    margin-right: 15px; 
    color: black;
    display: inline-block;
  }
  
  .navbar {
    transition: background-color 0.3s ease;
  }
  
 
  body.scrolled .navbar {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  
  body.scrolled {
    padding-top: 60px; 
  }

.header_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_text{
    display: flex;
    align-items: center;
}

#logo {
    width: 10%;
    height: 10%;
    align-items: center;
    position: relative;
    margin-left: 95%;
    margin-top: 3%;
}

#main{

    height: 100%;
    width: 100%;
    padding: 5%;
}

.main_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    font-size: 20pt;
    text-align: center;
}

.main_content{
    display: flex;
    justify-content: space-between;
}

.main_image{
    height: 100%;
    width: 30%;
    margin-bottom: -4px;
    margin-right: 5%;
}

.main_image img{
    width: 100%;
    height: 30%;
}

#second{
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 15%;
}

#second p {
    
    color: #8c5dea;
}

#second h1 {   

    font-size: 40pt;
    margin-bottom: 10%;
    margin-top: -20%;
    color: #8c5dea;
}

.second_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    font-size: 30pt;
    gap: 20px;
    text-align: center;
    padding-top: 8%;
    
}

.second_text img {
    width: 15%;
    height: 15%;
}

.second_content{
    justify-content: space-between;
}

#inscription{
    width: 100%;
    height: auto;
}

#inscription .conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
}

#inscription .conteiner form{
    width: 600px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color:#333;
    color: #8c5dea;
}

#inscription .conteiner form .form-action{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

#inscription .conteiner form .form-action input{
    width: 50%;
    padding: 10px;
    border-radius: 7px;

}

#third{
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 15%;
}

#third p {
    
    color: #8c5dea;
}

#third h1 {   

    font-size: 40pt;
    margin-bottom: 10%;
    margin-top: -20%;
    color: #8c5dea;
}

.third_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    font-size: 30pt;
    gap: 20px;
    text-align: center;
    padding-top: 8%;
    color:white;
    
}

.third_content{
    justify-content: space-between;
}


.action{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action button{
    padding: 10px;
    width: 50%;
    background-color: #8c5dea;
    transition: 0.5s;
    cursor: pointer;
}

.action button:hover{
    background-color: #b195ea;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.card {
    width: 100%; 
    height: 200px;
    display: flex;
    position: relative;
    background-color: #fff; /* Cor branca para os cards */
    color: #111; /* Cor preta para o texto dentro dos cards */
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

img {
    width: 60%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.card-info {
    flex-grow: 1;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

h2 {
    color: #673ab7; /* Cor roxa para os títulos dos cards */
    margin: 10px;
}

#desc {
    opacity: 0.8;
    overflow: hidden;
    margin: 0;
    color: black;
    font-size: 30pt;
}

#desc2 {
    opacity: 0.8;
    overflow: hidden;
    margin: 0;
    color: black;
    font-size: 22pt;
}


footer {
    background-color: white;
    text-align: center;
    padding: 1%;
    font-size: 18pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 780px){
    .navbar{
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .navbar ul{
        width: 100vw;
        padding: 0;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header_main{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #logo{
        margin: 0;
        display: block;
        height: 100%;
        width: 100%;
    }
    header h3{
        width: 44.88px;
    }
    header{
        width: 100vw;
    }
    .main_image{
        margin: 0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_image img{
        height: 400px;
        width: auto;
    }
    .main_content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .second_content{
        padding: 0;
    }
    tbody tr{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .second_text{
        gap: 30px;
    }
    #tr_one{
        display: none;
    }
}