*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: blueviolet;
}

h1,h3, p{
    color: white;
}

#header{
    height: 80px;
    width: 100%;
    background-color: black;
}

.header_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.header_text{
    display: flex;
    align-items: center;
}

#logo {
    width: 10%;
    height: 10%;
    align-items: center;
    position: relative;
    margin-left: 95%;
    margin-top: 3%;
}

#main{

    height: 100%;
    width: 100%;
}

.main_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    font-size: 20pt;
    text-align: center;
}

.main_content{
    display: flex;
    justify-content: space-between;
}

.main_image{
    height: 100%;
    width: 30%;
    margin-bottom: -4px;
}

.main_image img{
    width: 100%;
    height: 30%;
}

#second{
    background-color: black;
    height: 100%;
    width: 100%;
   
}

#second p {
    
    color: #8c5dea;
}

#second h1 {
    
    color: #8c5dea;
}

.second_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    font-size: 20pt;
    gap: 20px;
    text-align: center;
    padding-top: 8%;
}



.second_text img {
    width: 15%;
    height: 15%;
}

.second_content{
    justify-content: space-between;
}
