*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: blueviolet;
    padding-top: 60px; 
}

h1,h3, p{
    color: white;
}

#header{
    height: 80px;
    width: 100%;
    background-color: black;
}

ul {
    list-style-type: none;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 60px;
    padding: 1%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar li {
    margin-right: 15px; 
    color: black;
    display: inline-block;
  }
  
  .navbar {
    transition: background-color 0.3s ease;
  }
  
 
  body.scrolled .navbar {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  
  body.scrolled {
    padding-top: 60px; 
  }

.header_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.header_text{
    display: flex;
    align-items: center;
}

#logo {
    width: 10%;
    height: 10%;
    align-items: center;
    position: relative;
    margin-left: 95%;
    margin-top: 3%;
}

#main{

    height: 100%;
    width: 100%;
}

.main_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    font-size: 20pt;
    text-align: center;
}

.main_content{
    display: flex;
    justify-content: space-between;
}

.main_image{
    height: 100%;
    width: 30%;
    margin-bottom: -4px;
    margin-right: 5%;
}

.main_image img{
    width: 100%;
    height: 30%;
}

#second{
    background-color: black;
    height: 100%;
    width: 100%;
   
}

#second p {
    
    color: #8c5dea;
}

#second h1 {
    
    color: #8c5dea;
}

.second_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    font-size: 20pt;
    gap: 20px;
    text-align: center;
    padding-top: 8%;
}



.second_text img {
    width: 15%;
    height: 15%;
}

.second_content{
    justify-content: space-between;
}


@media only screen and (max-width: 780px){
    .navbar{
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .navbar ul{
        width: 100vw;
        padding: 0;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header_main{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #logo{
        margin: 0;
        display: block;
        height: 100%;
        width: 100%;
    }
    header h3{
        width: 44.88px;
    }
    header{
        width: 100vw;
    }
    .main_image{
        margin: 0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_image img{
        height: 400px;
        width: auto;
    }
    .main_content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .second_content{
        padding: 0;
    }
    tbody tr{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .second_text{
        gap: 30px;
    }
    #tr_one{
        display: none;
    }
}